<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create material</title>
</head>
<body>

<form action="#"  th:action="@{/material-create}" th:object="${material}" method="post">


    <label>Type</label>
    <select th:field="*{materialType}">
        <option th:each="materialType : ${T(com.example.springBoot.model.enumClasses.MaterialType).values()}"
                th:value="${materialType}"
                th:text="${materialType}">Choose the type material</option>
    </select>


    <br/>

    <label>Color</label>
    <select th:field="*{color}">
        <option th:each="color : ${T(com.example.springBoot.model.enumClasses.Color).values()}"
                th:value="${color}"
                th:text="${color}">Choose the color material</option>
    </select>

    <br/>


    <label for="materialsCount">Count</label>
    <input type="number" min="1" th:field="*{materialsCount}" id="materialsCount" placeholder="materialsCount">
    <div style="color:red" th:if="${#fields.hasErrors('materialsCount')}" th:errors="*{materialsCount}">we won't see of this text</div>

    <br/>

    <input type="submit" value="Add material">
</form>
</body>
</html>